header {
  text-align: center;
  background-color: #1d1d1d;
  margin-top: 5px;
}

h1,
h2,
h3 {
  color: #c52233;
}

h1 {
  text-align: center;
  font-size: 56px;

}

h3 {
  font-size: 30px;
  text-decoration: underline;
  margin-left: 50px;
  padding-top: 20px;
}

p {
  font-size: 36px;
}

nav,
aside,
footer {
  text-align: center;
  font-size: 30px;
}

nav,
aside {
  background-color: #c52233;
}

footer {
  background-color: #262626;
}

#picJD {
  width: 500px;
  height: 500px;
}

.nomepagina {
  font-size: 44px;
  text-align: right;
}

.paragrafo2 {
  background-color: #d7d7d7;
}
span#JohnDoe_text {
  font-weight: bold;
}

h1::before,
h1::after {
  content: ". . .";
  color: white;
}

a:link,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 36px;
}

div.gostos {
  background-color: #d7d7d7;
  margin-top: 50px;
}

#tit_gosto {
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  color: white;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(197, 34, 51);
  font-size: 2em;
  letter-spacing: 2px;
  text-indent: 30px;
}

#pic-plane-JD,
#pic-book-JD {
  width: 200px;
}

img {
  height: 200px;
  width: 200px;
}

a.botao:link,
a.botao:visited,
a.botao:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 42px;
}

a.botao:hover {
  background-color: black;
  color: white;
}

article {
  background-image: linear-gradient(to right, #1d1d1d, #c52233, #ffffff);
}
aside {
  width: 100%;
  height: 200px;
  background-color: #262626;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201123/pngtree-black-background-template-vol-1-image_499096.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.link-1 {
  text-align: center;
}

a.link1 {
  font-size: 60px;
  color: white;
  border: 2px solid #c52233;
  text-decoration: none;
}

a.link1:hover {
  text-decoration: underline;
}

#ler,
#viajar {
  border: 1px dotted white;
  display: inline-block;
  width: 45%;
  padding: 2%;
}

a.menu {
  border-left: 6px solid white;
  margin-left: 50px;
  padding-left: 10px;
}

.paragrafo1,
.paragrafo2 {
  max-width: 33.3%;
  display: inline-block;
  margin-left: 30px;
  padding: 30px;
}

.quem-image {
  display: inline-block;
  margin-left: 30px;
  float: left;
}

nav {
  padding: 50px;
}

.nomepagina {
  padding: 50px 100px;
}

.pref-ler-viajar {
  float: right;
}
